<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tarifas</title>
    <link rel="stylesheet" href="principalusuario.css">
</head>
<body>
    <h1>HISTORIAL</h1>
    <p>  </p>
    <br>
    <br>
    <div>
        <center>
                <table>
        <tr>
        <th> PERIODO </th>
        <th> kWh</th>
        <th> IMPORTE</th>
        <th> PAGOS</th>
        </tr>
        
        <tr>
        <td> &nbsp&nbsp&nbspPERIODO &nbsp&nbsp&nbsp</td>
        <td> &nbsp&nbsp&nbsp&nbsp&nbsp$1.59&nbsp&nbsp&nbsp&nbsp </td>
        </tr>
        
        <tr>
        <td> &nbsp&nbsp&nbspkWh&nbsp&nbsp&nbsp  </td>
        <td> &nbsp&nbsp&nbsp&nbsp&nbsp$1.35&nbsp&nbsp&nbsp </td>
        </tr>

        <tr>
            <td> &nbsp&nbsp&nbspIMPORTE&nbsp&nbsp&nbsp  </td>
            <td> &nbsp&nbsp&nbsp&nbsp&nbsp$1.35&nbsp&nbsp&nbsp </td>
            </tr>
            
            <tr>
                <td> &nbsp&nbsp&nbspPAGO&nbsp&nbsp&nbsp  </td>
                <td> &nbsp&nbsp&nbsp&nbsp&nbsp$1.35&nbsp&nbsp&nbsp </td>
                </tr>
                
        
        <style> table, th, td {border: 3px solid rgb(11, 109, 35); border-collapse: collapse;} </style>
        </table>
        </center>
        </div>

        <%- include('./partials/footer.ejs') %>