<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><span class="icon-home3" ></span> Nuestro Trabajo es Brindarte Ayuda para tu Bienestar </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;"> 
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="icon-mail3"></span> jmetters@gmail.com </a>
          </li>
            </ul>
          </li>
        </ul>
            <ul class="navbar-nav">
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#"><span class="icon-cog"></span> Configuracion</a></li>
            <li><a class="dropdown-item" href="#"><span class="icon-switch"></span> Cerrar Sesión</a></li>
        </ul>

      </div>
    </div>
  </nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container-fluid ">
        <a class="navbar-brand" href="#">
            <img src="/assets/imagenes/nuevologojali.png" alt="" >
        </a>
        <a class="navbar-brand" href="PaginaPricipal.ejs"> Jali Metter's</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarScroll">
        
      </div>
    </div>
  </nav>